
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    scroll-behavior: smooth;
}

.navbar{
    padding: 10px;
}

.navbar_container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* max-width: 1000px; */
    margin: auto;
}
  
.navbar-logos{
    display: flex;
    align-items: center;
    column-gap: 25px
}

.nav-links li:hover{
    color: #5269F8;
}

.nav-logo-1{
    max-height: 27px;
}

.nav-logo-2{
    max-width: 120px;
}

.nav-links ul{
    display: flex;
    align-items: center;
    column-gap: 2rem;
    font-family:sans-serif;
}

.nav-links ul{
    list-style: none;
}

.nav-links{
display: flex;
align-items: center;
column-gap: 100px;
text-decoration: none;
position: relative;
}

.nav-btn button{
    width: 5rem;
    padding: 9.9px;
    outline: 0px;
    border: 0px;
    color: #fff;
    background: #5269F8;
    font-weight: 500;
    font-family: sans-serif;
    border-radius: 4PX;
}

/* Responsive style */
.toggle-button{
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.toggle-button .bar{
    height: 3px;
    width: 25px;
    background: #fff;
    margin: 4px 0;
}



/* Media query for responsiveness */
@media (max-width: 768px) {

        .toggle-button {
            display: flex;
        }

        .nav-links{
            display: none;
            width: 100%;
        }

        .nav-links ul {
            flex-direction: column;
            width: 100%;
        }

        .nav-links li {
            text-align: center;
            padding: 10px 0;
            width: 100%;
            
        }

        .nav-links.active {
            display: flex;
        }
}